.navigate{
    margin-top: 3%;
    padding: 6px;
    background-color:black;
    opacity: 90%;
}
nav {
    background-color: #333;
    overflow: hidden;
}
nav a {
    text-decoration: none;
    padding: 25px;
    text-align: center;
    font-size: larger;
    float: left;
    color: white;
} 

.text1{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    width: 200px;
    height: 60px;
    background-color: #659DBD;
    border-radius: 20px;
}

.content{
    
    
    justify-content: center;
    
    
}




.labrador{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    width: 290px;
    height: 250px;
    background-color: #659DBD;
    border-radius: 20px;
}
.container1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.labrador-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("dog.jpg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.dalmatian{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    width: 290px;
    height: 250px;
    background-color: #659DBD;
    border-radius: 20px;
}
.dalmatian-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("dog.jpg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.doberman{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    width: 290px;
    height: 250px;
    background-color: #659DBD;
    border-radius: 20px;
}
.doberman-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("dog.jpg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.doberman h2{
    text-align: center;
}
.dalmatian h2{
    text-align: center;
}
.labrador h2{
    text-align: center;
}
.text1 h2{
    text-align: center;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    color: #BAB86C;
}
.header {
    margin-top: 2%;
    padding: 26px;
    background-color:white;
    opacity: 90%;
}
body{
    background-color: #659DBD;
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

footer a{
    text-decoration: none;
    padding: 25px;
    text-align: center;
    font-size: large;
    float: left;
    color: white;
}
body{
    background-color: #659DBD;
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    color: #BAB86C;
}
.header {
    margin-top: 2%;
    padding: 26px;
    background-color:white;
    opacity: 90%;
}