.blue{
    background-color: #659DBD;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: x-large;
    color: #BAB86C;
}
.header {
    margin-top: 5%;
    padding: 26px;
    background-color:white;
}
.text1{
    font-size: x-large;
    text-align: center;
    margin-top: 3%;
}
#vl{
    padding-top: 30px;
    height: 200px;
    border-right: 1px solid rgb(0, 0, 0);
    margin-right: 50%;
    margin-top: 5%;
} 
.container{
    display: flex;
}
.dog{
    margin-left: 45px;
    height: 400px;
    width: 350px;
    background-color: aqua;
}
.cat{
    margin-left: 45%;
    height: 400px;
    width: 350px;
    background-color:aquamarine
}
.divider2{
    color: #DAAD86;
}
