body{
    background-color: #659DBD;
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: absolute;
}
.title{
    font-family: 'Croissant One', cursive;
    text-align: center;
    font-size: 30px;
    color: #BAB86C;
}
.header {
    margin-top: 2%;
    padding: 20px;
    background-color:white;
    opacity: 90%;
}
.text1{
    font-size: x-large;
    top: 370px;
    left: 600px;
    position: absolute;
    z-index: 55;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    box-sizing: border-box;
    padding: 0;
    margin: 50px;
    width: 290px;
    height: 510px;
    background-color: #659DBD;
    border-radius: 20px;
}

.dog-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("dog.jpg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.cat-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("cat.jpg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.fish-image{
    height: 190px;
    margin-bottom: 15px;
    background-image: url("fish.jpeg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.card p{
    padding: 10px;
}
.card h2{
    text-align: center;
}
.card a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 2px 60px;
}

.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 1s ease;
}
.divider2{
    color: #DAAD86;
}
.center{
    text-align: right;
    background-color: #333;
    padding: 26px;
    overflow: hidden;
    border-radius: 28px;
    font-size: large;
}
.right{
    text-align: right;
    margin-top: 2%;
    margin-right: 8%;
}
.content{
    padding-top: 5px;
    height: 900px;
    width: 1515px;
    position: relative;
    background-image: url("forest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
    z-index: 25;
    border: 3px solid black;
    border-radius: 28px;
}
.navbar{
    background-color: rgb(236, 253, 0);
    height: 12vh;
    font-family: 'Skranji', cursive;
    /* color:#BAB86C; */
}
.navbar ul li{
    color:#BAB86C;
    padding-top: 3.8vh;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    padding: 18px;
    font-size: 29px;
}
footer a{
    text-decoration: none;
    padding: 25px;
    text-align: center;
    font-size: large;
    float: left;
    color: white;
}
.z{
    height: 800px;
    width: 1415px;
    bottom: 800px;
    position: relative;
    left: 55px;
    z-index: 50;
}
.demo{
    background-color: #333;
    color: white;
    font-size: large;
    position: absolute;
    top: 1280px;
}